.App {
}

.Codes {
  background-color: lightgray;
}

.Table {
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
  flex-direction: row;
}

.Col {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 40px;
  height: 40px;
}
