.App {
  position: absolute;
  display: flex;
  flex-direction: row;
  background: fixed left/128px url(./logo.svg) repeat;
  width: 100%;
  top: 0;
  bottom: 0;
}

.LeftPane, .RightPane {
  background-color: rgba(0,0,0,0.2);
  margin: 2vw;
}

.LeftPane, .RightPane, .Cell, .ColorPicker, .ColorBox, .ColorEditButton {
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.LeftPane, .RightPane, .ColorPicker, .ColorBox, .ColorEditButton {
  border-radius: 0.5vw;
}

.LeftPane {
  flex: 2;
}

.RightPane {
  flex: 1;
  margin-left: 0;
}

.Codes {
  background-color: lightgray;
}

.Table {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  width: calc(100% - 4vw);
}

.Row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  text-align: center;
  font-size: 2vw;
}

.ColorPicker {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  padding: 2vw 2vw 0 2vw;
  background-color: white;
}

.ColorBox {
  height: 3vw;
  margin-bottom: 1.5vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ColorBox.Multicolor {
  flex-direction: row;
  overflow: hidden;
}

.ColorEditButton {
  width: 2.5vw;
  height: 2.5vw;
  background-color: white;
}

.MulticolorPart {
  flex: 1;
  height: 100%;
}