.App {
  display: flex;
  flex-direction: row;
  background: fixed left/128px url(./logo.svg) repeat;
}

.ModalOverlay, .App {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.ModalOverlay {
  background: rgba(0,0,0,0.5);
}

.LeftPane, .RightPane {
  background-color: rgba(0,0,0,0.2);
  margin: 2vw;
}

.LeftPane, .RightPane, .Cell, .ColorPicker, .ColorBox, .ColorEditButton, .ColorPickerItem, .Codes {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
}

.LeftPane, .RightPane, .ColorPicker, .ColorBox, .ColorEditButton, .ColorPickerItem, .Codes {
  border-radius: 0.5vw;
}

.ColorBox.Focused {
  border-color: yellowgreen;
  border-width: 4px;
}

.LeftPane {
  flex: 2;
}

.RightPane {
  flex: 1;
  margin-left: 0;
}

.Codes {
  background-color: lightgray;
  margin: 2vw;
}

.Code {
  margin: 0.5vw;
  font-size: 2vw;
}

.Table {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  width: calc(100% - 4vw);
}

.Row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.Cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  text-align: center;
  font-size: 2vw;
}

.ColorPicker {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  padding: 2vw 2vw 0 2vw;
  background-color: white;
}

.ColorBox {
  box-sizing: border-box;
  height: 3vw;
  margin-bottom: 1.5vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ColorBox.Multicolor {
  flex-direction: row;
}

.ColorEditButton {
  width: 2.5vw;
  height: 2.5vw;
  background-color: white;
}

.MulticolorPart {
  flex: 1;
  height: 100%;
  transform: skew(-15deg, 0deg) scaleX(1.1);
}

.Modal {
  background-color: white;
  position: absolute;
  top: 5vw;
  bottom: 5vw;
  left: 5vw;
  right: 5vw;
  display: flex;
  flex-direction: column;
}

.ModalContents {
  flex: 1;
}

.ModalButton {
  height: 3vw;
}

.ColorPickerItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.ColorPickerItem {
  width: 10vw;
  height: 10vw;
  margin-top: 1vw;
  margin-left: 1vw;
}

@media (max-width: 750px) {
  .App {
    flex-direction: column;
  }

  .LeftPane {
    flex: content;
  }

  .RightPane {
    flex: content;
    flex-grow: unset;
  }
}
